.lightBtn {
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #4661E6;
    background: #F2F4FF;
    cursor: pointer;
    // transition: all .2s ease-in;
    user-select: none;
    &.like-btn{
        color: #3A4374;
    }
    &.liked {
        background: #4661E6 !important;
        color: #ffffff !important;
        &:disabled{
            background-color: red !important
        }
    }
    
    &:disabled{
        background-color: red !important
    }
}

.feedback__btn__svg {
    stroke: #ffffff !important
}

.lightBtn:hover {
    background: #CFD7FF;
}

/* Here click effect */
/* .lightBtn {
    background: #4661E6;
    color: #ffffff;
} */

.filterbar__filterby.clicked{
    background: #4661E6;
    color: #FFFFFF;
    &:disabled{
        opacity: 0.5;
    }
}