.add-form {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 60px 0;
}



.add-form-body {
    position: relative;
    padding: 52px 42px 40px 42px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;
    gap: 24px;
}

.add-form-body::after {
    content: "";
    background-size: contain;
    position: absolute;
    width: 56px;
    height: 56px;
    top: -4%;
    left: 42px;
    background-image: url(../../assets/img/round-plus.svg);
    background-position: center center;
    background-size: contain;
    border-radius: 50%;
}

.add-form-details {
    display: flex;
    gap: 24px;
}

.add-form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    /* aspect-ratio: 1/1; */
}

.add-form-btns {
    display: flex;
    gap: 16px;
    align-self: flex-end;
}