/* jost-regular - latin */
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    /* src: url('../../assets/fonts/jost-v14-latin-regular.eot'); IE9 Compat Modes */
    src: url('../../assets/fonts/jost-v14-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        /* url('../../assets/fonts/jost-v14-latin-regular.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
        url('../../assets/fonts/jost-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/jost-v14-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../assets/fonts/jost-v14-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../../assets/fonts/jost-v14-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../assets/fonts/jost-v14-latin-regular.svg#Jost') format('svg');
    /* Legacy iOS */
}

/* jost-600 - latin */
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/fonts/jost-v14-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../assets/fonts/jost-v14-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../assets/fonts/jost-v14-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../assets/fonts/jost-v14-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../../assets/fonts/jost-v14-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../assets/fonts/jost-v14-latin-600.svg#Jost') format('svg');
    /* Legacy iOS */
}

/* jost-700 - latin */
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/jost-v14-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../assets/fonts/jost-v14-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../assets/fonts/jost-v14-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../assets/fonts/jost-v14-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../../assets/fonts/jost-v14-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../assets/fonts/jost-v14-latin-700.svg#Jost') format('svg');
    /* Legacy iOS */
}